*{
    margin: 0;
    padding: 0;
    background-color: rgba(1, 1, 14, 0.993);
}

ul li{
    color: white;
    list-style: none;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgba(128, 128, 128, 0.11);
    padding: 10px;
    border: 1px rgba(76, 0, 255, 0.411) solid;
    text-align: center;
}

.option{
    text-align: center;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 200PX;
}

a{
    text-decoration: none;
}

code{
    color: white;
}

p{
    color: rgba(73, 219, 80, 0.897);
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}
